{% extends 'base.html.twig' %}

{% block title %}Liens index{% endblock %}

{% block body %}
    <h1>Liens index</h1>
    <a href="{{ path('app_liens_new') }}" class="btn">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>CreatedAt</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lien in liens %}
            <tr>
                <td>{{ lien.id }}</td>
                <td>{{ lien.titre }}</td>
                <td>{{ lien.createdAt ? lien.createdAt|date('d/m/y à H:i:s') : '' }}</td>
                <td><a href="{{ lien.url }}">{{ lien.url }}</a></td>
                <td>
                    <a href="{{ path('app_liens_show', {'id': lien.id}) }}" class="btn">show</a>
                    <a href="{{ path('app_liens_edit', {'id': lien.id}) }}" class="btn">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_liens_new') }}"  class="btn">Create new</a>
{% endblock %}
